@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

* {
  overflow-x: hidden;
}

html, body {
  background-color: #e7e7e7;
  font-family: "Overpass", sans-serif;
  overflow-x: hidden;
}

.base {
  margin: 3em;
}

a {
  text-decoration: none;
  outline: 0;
}

.icon {
  color: #968b99;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.icon:hover {
  color: #676d67;
}

.container-0-5 {
  margin: 0.5em;
  padding: 0.3em;
  align-self: inherit;
}

.container-item {
  padding: 3px;
  align-self: inherit;
}

.centered {
  text-align: center;
  align-self: center;
  align-content: center;
}

.title {
  color: #241a2b;
  font-size: 40px;
}

.subtitle {
  font-size: 20px;
  color: #959895;
}

#project {
  background-color: #cecacf;
  border-radius: 10px;
  -webkit-transition: 0.3s ease;
  max-width: 300px;
  transition: 0.3s ease;
  display: flex;
}

#project:hover {
  background-color: #bdb0c1;
  transform: translateX(0.6em) scale(1.05);
}

.project-name {
  font-size: 20px;
  font-weight: bolder;
  color: #5d4966;
}

.project-description {
  font-size: 11px;
  color: #676d67;
}

.project-icon {
  max-height: 50px;
  max-width: 50px;
  overflow: hidden;
}

.margin-left-icon {
  margin-left: 1em;
  padding-top: 1.5em;
}

.max-200 {
  max-width: 200px;
}

.spotify-album {
  min-height: 100px;
  min-width: 100px;
  max-height: 100px;
  max-width: 100px;
  width: 100px;
  height: 100px;
}

.song-title {
  font-size: 15px;
  font-weight: bolder;
  color: #241a2b;
}

.spotify-container {
  margin-top: 2em;
  background-color: #968b99;
  border-radius: 10px;
  max-width: 300px;
  display: flex;
  overflow: hidden;
  padding: 0.3em;
  color: #3b363e;
  align-self: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.spotify-container:hover {
  transform: translateX(0.6em) scale(1.05);
}

.spotify-container-item {
  align-self: inherit;
  padding: 10px;
  overflow: hidden;
}

.tip {
  font-size: 11px;
}

.spotify-extern {
  color: #241a2b;
  background-color: #7c7680;
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.spotify-extern:hover {
  background-color: #67606b;
}

#spotify {
  overflow: hidden;
}

