@import url("https://fonts.googleapis.com/css2?family=Overpass&display=swap");

* {
  overflow-x: hidden;
}

:root {
  --highlight-color: #5dea93;
  --base-dark: #616060;
  /* Would be nicely coupled with bold */
  --emphasized-text: #292d29;
  /* spotify theme colors */
  --spotify-background: rgba(38, 38, 38, 0.11);
}

a {
  outline: 0;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

a:hover {
  text-decoration: underline;
  color: var(--highlight-color);
}

html, body {
  background-color: #e7e7e7;
  font-family: "Overpass", sans-serif;
  overflow-x: hidden;
}

.base {
  margin: 3em;
}

.icon {
  color: var(--base-dark);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.icon:hover {
  color: var(--highlight-color);
}

/*
  Sizing/Containerization/Alignment stuff.
 */

.container-0-5 {
  margin: 0.5em;
  padding: 0.3em;
  align-self: inherit;
}

.container-item {
  padding: 3px;
  align-self: inherit;
}

.centered {
  text-align: center;
  align-self: center;
  align-content: center;
}

.max-200 {
  max-width: 200px;
}

/*
  Text fields.
 */

.title {
  color: var(--emphasized-text);
  font-size: 40px;
}

.subtitle {
  font-size: 20px;
  color: #959895;
}

/*
  Spotify.
 */

#spotify {
  overflow: hidden;
}

.spotify-album {
  min-height: 60px;
  min-width: 60px;
  max-height: max-content;
  max-width: max-content;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.spotify-album:hover {
  transform: scale(1.2) rotate(0.1rad);
}

.tip {
  font-size: 11px;
}

.spotify-extern {
  color: rgba(43, 222, 107, 0.68);
  border-radius: 5px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.spotify-extern:hover {
  color: var(--spotify-icon);
}

.spotify-title {
  color: var(--emphasized-text);
  font-weight: bold;
}

.spotify-artist {
  color: #343834;
  font-weight: lighter;
  font-size: 11px;
}

.spotify-container {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  background-color: var(--spotify-background);
  border: 2pt solid rgba(186, 185, 185, 0.13);
  border-radius: 10px;
  min-width: max-content;
  max-width: 300px;
  max-height: max-content;
  display: flex;
  overflow: hidden;
  color: #3b363e;
  align-self: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.spotify-info-container {
  display: grid;
}

.spotify-container-item {
  align-self: inherit;
  padding: 10px;
  overflow: hidden;
}

